:root {
    --main-bg-color:  #8400ff;
  

  }

  body{
    background: #eeeded;
  }

  .btn-softui{
    color: #000;
    box-shadow: -4px -4px 8px 0px #fff,4px 4px 8px 0px #A3b1c6;
  }
/*=============================================
=                   Navbar                   =
=============================================*/
.navbar{
	padding: 0;
}
.navbar-brand img{
	height: 52px;
	width: auto;
	display: block;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
	outline: none;
}
.navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid rgb(200, 25, 235);
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after, 
.navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: rgb(200, 25, 235);
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.nav-link{
	color: #212121 !important;
	font-weight: 500;
    transition: all 200ms linear;
    text-transform: uppercase;
}
.nav-item:hover .nav-link{
	color: #7e3ce0 !important;
}
.nav-item.active .nav-link{
	color:  #7e3ce0 !important;
}
.nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
.nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #8167a9;
	opacity: 0;
    transition: all 200ms linear;
}
.nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
}
.nav-item{
	position: relative;
    transition: all 200ms linear;
}


/*============  End of Navbar  =============*/


/*=============================================
=                   Intro                   =
=============================================*/
.intro{
    background: var(--main-bg-color);
    color: #fff;
}

.intro-title{
    font-size: 3rem;
}

.intro-subtitle{
    font-size: 2rem;
    font-weight: 200;

}

.intro .text-slider-items {
    display: none;
  }
  
  .intro-content{
      height: 100vh;
  }

/*============  End of Intro  =============*/

 /*------/ Socials /------*/
  
 .socials {
    padding: 0.5rem 0;
  }
  
  .socials ul li {
    display: inline-block;
  }
  
  .socials .ico-circle {
    height: 30px;
    width: 30px;
    font-size: 1rem;
    border-radius: 50%;
    line-height: 1.5;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #fffb00;
    transition: all 500ms ease;
  }
  
  .socials .ico-circle:hover {
   background-color: #f4ff53;
    color: #fff;
    box-shadow: 0 0 0 3px #000000;
    transition: all 500ms ease;
  }
  
  /*------/ Ul resect /------*/
  
  .ul-resect,
  .socials ul,
  .list-ico,
  .blog-wrapper .post-meta ul,
  .box-comments .list-comments,
  .widget-sidebar .list-sidebar,
  .widget-tags ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
  }
  
  .list-ico {
    line-height: 1;
  }
  
  .list-ico span {
    color: #8400ff;
    margin-right: 10px;
  }
  
  /*------/ Ico Circle /------*/
  
  .ico-circle {
    height: 100px;
    width: 100px;
    font-size: 2rem;
    border-radius: 50%;
    line-height: 1.5;
    margin: 0 auto;
    text-align: center;
    box-shadow: 0 0 0 10px #8400ff;
    display: block;
  }
  
  /*======================================
//--//-->   FOOTER
======================================*/

footer {
    text-align: center;
    color: #fff;
    padding-bottom: 10px;
    background: #cc00ff;
  }
  
  footer .copyright {
    margin: 0.5rem;
  }
  
  footer .credits {
    margin-bottom: 0;
  }
  
  footer .credits a {
    color: #fff;
  }

  /*============  End of Footer section  =============*/

  /*=============================================
  =                   about                   =
  =============================================*/
  #about{
    
    background-color: #e0e5ec;
    
   
  }
  .about-mf .box-shadow-full {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
  
  .about-mf .about-img {
    margin-bottom: 2rem;
  }
  
  .about-mf .about-img img {
    margin-left: 0px;
  }
  
  .skill-mf span {
    color: #4e4e4e;
  }
  
  .skill-mf .progress {
    background-color: #e3c5ff;
    margin: .5rem 0 1rem 0;
    border-radius: 5px;
    height: .9rem;
  }
  
  .skill-mf .progress .progress-bar {
    height: .9rem;
    background-color: #8400ff;
  }

    .box-shadow-full {
      padding: 3rem 1.25rem;
      position: relative;
      background-color:#e0e5ec;
      margin: 3rem;
      z-index: 2;
      //box-shadow: 10px 10px 30px 0 rgba(0, 0, 0, 0.06), -10px -10px 30px 0 rgba(0, 0, 0, 0.2);
      border-radius: 10px;
      box-shadow: -9px -9px 16px 0px #fff,9px 9px 16px 0px #A3b1c6;
  }
  
  /*============  End of about  =============*/